.custom-date-picker {
  display: flex;
  flex-direction: column;

  background-color: inherit;

  & .MuiIconButton-root svg path {
    fill: rgba(73, 94, 87, 0.8);
  }

  & .MuiInputBase-root {
    width: 400px;
    height: 48px;
    background-color: inherit;
    border: 1px solid rgba(73, 94, 87, 0.7);
    border-radius: 8px;
    padding: 8px 16px 8px 8px;
    font-family: "Karla", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: rgba(51, 51, 51, 0.8);
    outline: none;

    & fieldset {
      border: none;
    }

    &.Mui-focused {
      outline: 1.4px solid #58b9ef;
      border-color: transparent;
    }

    &.Mui-error {
      outline: 1.4px solid #ff5d91;
      border-color: transparent;
    }
  }

  & .MuiInputLabel-root {
    position: absolute;
    font-style: italic;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: rgba(51, 51, 51, 0.8);
    font-family: "Karla", sans-serif;
    font-weight: 500;
    font-size: 22px;
    background-color: #edefee;
    padding: 0 4px;
    transition: all 0.2s ease-in-out;
    pointer-events: none;

    &.Mui-focused,
    &.MuiInputLabel-shrink {
      transform: translateY(-37px) translateX(4px);
      color: #58b9ef;
      font-size: 15px;
    }
  }

  /* responsive break points*/
  @media (min-width: 640px) and (max-width: 1279px) {
    & .MuiInputBase-root {
      width: 300px;
      height: 40px;
      font-size: 17px;
      padding: 8px 12px;
      border-radius: 6px;
    }

    & .MuiInputLabel-root {
      padding: 0 2px;
      font-size: 20px;
    }

    & .MuiInputLabel-root.Mui-focused,
    & .MuiInputLabel-root.MuiInputLabel-shrink {
      font-size: 14px;
      transform: translateY(-32px);
    }
  }

  /* For screens less than 640px */
  @media (max-width: 639px) {
    & .MuiInputBase-root {
      width: 240px;
      height: 36px;
      font-size: 16px;
      padding: 8px 12px;
      border-radius: 6px;
    }

    & .MuiInputLabel-root {
      padding: 0 2px;
      font-size: 18px;
    }

    & .MuiInputLabel-root.Mui-focused,
    & .MuiInputLabel-root.MuiInputLabel-shrink {
      font-size: 13px;
      transform: translateY(-29.5px);
    }
  }
  @media (max-width: 320px) {
    & .MuiInputBase-root {
      width: 220px;
    }
  }
}

.custom-time-picker {
  display: flex;
  flex-direction: column;

  background-color: inherit;
  & .MuiInputBase-root {
    width: 400px;
    height: 48px;
    background-color: inherit;
    border: 1px solid rgba(73, 94, 87, 0.7);
    border-radius: 8px;
    padding: 8px 16px 8px 8px;
    font-family: "Karla", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: rgba(51, 51, 51, 0.8);
    outline: none;

    & fieldset {
      border: none;
    }

    &.Mui-focused {
      outline: 1.4px solid #58b9ef;
      border-color: transparent;
    }

    &.Mui-error {
      outline: 1.4px solid #ff5d91;
      border-color: transparent;
    }
  }

  & .MuiInputLabel-root {
    position: absolute;
    font-style: italic;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: rgba(51, 51, 51, 0.8);
    font-family: "Karla", sans-serif;
    font-weight: 500;
    font-size: 22px;
    background-color: #edefee;
    padding: 0 4px;
    transition: all 0.2s ease-in-out;
    pointer-events: none;

    &.Mui-focused,
    &.MuiInputLabel-shrink {
      transform: translateY(-37px) translateX(4px);
      color: #58b9ef;
      font-size: 15px;
    }
  }

  /* responsive break points*/
  @media (min-width: 640px) and (max-width: 1279px) {
    & .MuiInputBase-root {
      width: 300px;
      height: 40px;
      font-size: 17px;
      padding: 8px 12px;
      border-radius: 6px;
    }

    & .MuiInputLabel-root {
      padding: 0 2px;
      font-size: 20px;
    }

    & .MuiInputLabel-root.Mui-focused,
    & .MuiInputLabel-root.MuiInputLabel-shrink {
      font-size: 14px;
      transform: translateY(-32px);
    }
  }

  /* For screens less than 640px */
  @media (max-width: 639px) {
    & .MuiInputBase-root {
      width: 240px;
      height: 36px;
      font-size: 16px;
      padding: 8px 12px;
      border-radius: 6px;
    }

    & .MuiInputLabel-root {
      padding: 0 2px;
      font-size: 18px;
    }

    & .MuiInputLabel-root.Mui-focused,
    & .MuiInputLabel-root.MuiInputLabel-shrink {
      font-size: 13px;
      transform: translateY(-29.5px);
    }
  }
  @media (max-width: 320px) {
    & .MuiInputBase-root {
      width: 220px;
    }
  }
}
